<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
    <link rel="stylesheet" href="/styles/secone.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Wilson M | Full-Stack Dev</title>
</head>
<body>
    <div class="main">
        <div class="nav">
            <p id="logo">WM</p>
            <div class="nav-logos">
                <a href="https://www.linkedin.com/in/wilsonmarques-dev/ " target="_blank"><img src="assets/li.svg" alt="LI-logo"></a>
                <a href="https://github.com/WirsoDev" target="_blank"><img src="assets/git.svg" alt="GIT-logo"></a>
            </div>
        </div>
        <div class="side-bar">
            <div class="side-bar--logos">
                <a class="py-logo"><img src="assets/python.svg" alt="py-logo"></a>
                <a class="js-logo"><img src="assets/js.svg" alt="py-logo"></a>
                <a class="react-logo"><img src="assets/react.svg" alt="py-logo"></a>
                <a class="post-logo"><img src="assets/post.svg" alt="py-logo"></a>
                <a class="linux-logo"><img src="assets/linux.svg" alt="py-logo"></a>
                <a class="git-logo"><img src="assets/git_l.svg" alt="py-logo"></a>
            </div>
        </div>
        <section>
            <div class="sec-one">
                <div class="sec-dots">
                    <img class="dots" src="assets/dots.svg" alt="dots">
                </div>
                <div class="sec-foto">
                    <img src="assets/foto.png" alt="foto">
                </div>
                <div class="sec-glass">
                    <div class="glass-cnt">
                        <h2>Hello</h2>
                        <p>Wilson Marques</p>
                        <p>Full-Stack Developer</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p></p>
        </section>
    </div>
    <div class="footer">
        <div class="footer-center" id="btn">
            <img src="assets/seta.svg" alt="seta" id="seta" class="rotate">
        </div>
    </div>
    <script src="scripts/switch.js"></script>
    <script src="scripts/animations.js"></script>
    <script src="scripts/invertdots.js"></script>
    <script src="scripts/other.js"></script>
</body>
</html>