<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/sidebar.css">
    <link rel="stylesheet" href="/styles/secone.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/sectwo.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Wilson M | Full-Stack Dev</title>
</head>
<body>
    <div class="main">
        <div class="nav">
            <p id="logo">WM</p>
            <div class="nav-logos">
                <a href="https://www.linkedin.com/in/wilsonmarques-dev/ " target="_blank" class="li-stat" onclick="upDateValue(event)"><img src="assets/li.svg" alt="LI-logo"></a>
                <a href="https://github.com/WirsoDev" target="_blank" class="git-stat" onclick="upDateValue(event)"><img src="assets/git.svg" alt="GIT-logo"></a>
            </div>
        </div>
        <div class="side-bar">
            <div class="side-bar--logos">
                <a class="py-logo"><img src="assets/python.svg" alt="py-logo"></a>
                <a class="js-logo"><img src="assets/js.svg" alt="py-logo"></a>
                <a class="react-logo"><img src="assets/react.svg" alt="py-logo"></a>
                <a class="post-logo"><img src="assets/post.svg" alt="py-logo"></a>
                <a class="linux-logo"><img src="assets/linux.svg" alt="py-logo"></a>
                <a class="git-logo"><img src="assets/git_l.svg" alt="py-logo"></a>
            </div>
        </div>
        <section>
            <div class="sec-one">
                <div class="sec-dots">
                    <img class="dots" src="assets/dots.svg" alt="dots">
                </div>
                <div class="sec-foto">
                    <img src="assets/foto.png" alt="foto">
                </div>
                <div class="sec-glass">
                    <div class="glass-cnt">
                        <h2>Hello</h2>
                        <p class="glass-name">Wilson Marques</p>
                        <p class="glass-job">Full-Stack Developer</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="sec-two">
                <div class="sec-two--cont">
                    <img class="rocket" src="assets/rocket.svg" alt="rocket">
                    <h2>Body under construction Mind on a mission!</h2>
                    <p class="desc">I will be as brief as possible in completing this mission. This site will be full of nice things soon<span>&#10084</span></p>
                <div class="sec-two--links">
                    <p>In the meantime</p>
                    <div class="sec-links">
                        <a href="https://www.linkedin.com/in/wilsonmarques-dev/ " target="_blank" onclick="upDateValue(event)" class="li-stat"><img src="assets/li.svg" alt="LI-logo"></a>
                        <a href="https://github.com/WirsoDev" target="_blank" onclick="upDateValue(event)" class="git-stat"><img src="assets/git.svg" alt="GIT-logo"></a>
                        <a href="mailto:wilson.wmarques@gmail.com" target="_blank" onclick="upDateValue(event)" class="mail-stat"><img src="assets/email.svg" alt="EMAIL"></a>
                        <a href="assets/CV_WILSONMARQUES_2022.pdf" download onclick="upDateValue(event)" class="cv-stat"><img src="assets/CV.svg" alt="CV"></a>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
    <div class="footer">
        <div class="footer-center" id="btn">
            <img src="assets/seta.svg" alt="seta" id="seta" class="rotate">
        </div>
    </div>
    <script src="scripts/switch.js"></script>
    <script src="scripts/animations.js"></script>
    <script src="scripts/invertdots.js"></script>
    <script src="scripts/other.js"></script>
    <script src="scripts/stats.js"></script>
    <script src="scripts/localStorageManager.js"></script>
</body>
</html>