<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/stats.css">
    <title>Wilson Dev - Stats</title>
</head>
<body>
    <div class="stats-main">
        <div class="stats-main-cnt">
            <div class="stats-title">
                <h3>Personal Stats</h3>
            </div>
            <div class="stats-wrap">
                <div class="stats-wrap-cont">
                    <div class="stats--card">
                        <h3>Views</h3>
                        <p>55</p>
                    </div>
                    <div class="stats--card">
                        <h3>Emails</h3>
                        <p>15</p>
                    </div>
                    <div class="stats--card">
                        <h3>CV Down</h3>
                        <p>5</p>
                    </div>
                    <div class="stats--card">
                        <h3>GIT Views</h3>
                        <p>35</p>
                    </div>
                    <div class="stats--card">
                        <h3>IN Views</h3>
                        <p>85</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>