<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/stats.css">
    <title>Wilson Dev - Stats</title>
</head>
<body>
    <div class="stats-main">
        <div class="stats-main-cnt">
            <div class="stats-title">
                <h3>Personal Stats |<span onclick="logout()"> Logout</span></h3>
            </div>
            <div class="stats-wrap">
                <div class="stats-wrap-cont">
                    <div class="stats--card">
                        <h3>Views</h3>
                        <p>{{data.views}}</p>
                    </div>
                    <div class="stats--card">
                        <h3>Emails</h3>
                        <p>{{data.emails}}</p>
                    </div>
                    <div class="stats--card">
                        <h3>CV Down</h3>
                        <p>{{data.cv}}</p>
                    </div>
                    <div class="stats--card">
                        <h3>GIT Views</h3>
                        <p>{{data.git}}</p>
                    </div>
                    <div class="stats--card">
                        <h3>IN Views</h3>
                        <p>{{data.linkedin}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/logout.js"></script>
</body>
</html>