.stats-main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(100deg, #2f323b 1.05%, #0e0e13 88.69%);
    justify-content: center;
}

.stats-main-cnt{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 75px;
}

.stats-title{
    margin-bottom: 50px;
}

.stats-title h3{
    color: #F0F0F0;
    font-size: 20px;
    font-family: 'gilroy-bold';
}

.stats-title h3 span{
    color: #F0F0F0;
    font-size: 15px;
    transition: all 150ms;
    cursor: pointer;
}

.stats-wrap-cont{
    display: flex;
    width: 80vw;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.stats--card{
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    transform: scale(.98);
    border-radius: 15px;
    background-color: rgba(224, 224, 224, 0.178);
    transition: all 250ms;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F0F0F0;
}

.stats--card h3{
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'gilroy';
}

.stats--card p{
    font-size: 35px;
    font-family: 'gilroy-bold';
}

.stats--card:hover{
    transform: scale(1);
    background-color: rgba(224, 224, 224, 0.068);
}

.graph--wrap{
    margin-top: 50px;
}

.list{
    margin-top: 40px;
}

.list p{
    font-size: 18px;
    color: #F0F0F0;
    padding: 2px 0px;
}

.list p span{
    font-family: 'gilroy-bold';
}

.list-cont{
    margin-top: 20px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.sep{
    height: 2px;
    background-color: #a1a1a1;
    margin-top: 5px;
}


/* SCROLL */

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.212); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(221, 221, 221); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b; 
  }
